<%= turbo_stream.append "feeds_list-items" do %>
  <!--  render partial 10 photos-->
  <% @photos.each do |photo|%>
    <div class="list-items__item  mb-3 col-lg-6 " >
      <div class="card h-100 shadow bg-body-secondary" >
        <div class="row g-2" style="height: 100%;">
          <div class="item__images col-xl-4 d-flex  justify-content-center align-items-center">
            <%= image_tag photo.image_url.url, class:'rounded-start' %>
          </div>
          <div class="col-xl-8 position-relative">
            <div class="card-body ">
              <div class="card-title d-flex flex-row align-items-center">
                <div class="overflow-hidden rounded-circle me-3" style="width: 50px; height:50px;">
                  <% if photo.user.avatar_url.url.nil? %>
                    <%= image_tag "avatar.jpeg",class:' me-3', style:"width:100%"%>
                  <%else %>
                    <%= image_tag photo.user.avatar_url.url, class:'me-3', style:"width:100%"%>
                  <%end %>
                </div>
                <h5 class=""><%=  link_to photo.user.first_name + ' ' + photo.user.last_name,user_photos_path(photo.user.id),class:'text-decoration-none'%></h5>
              </div>
              <p class="card-text fw-bold" ><%= photo.title %></p>
              <p class="card-text mb-3"><%= photo.description %></p>
              <div class="position-absolute bottom-0 mb-2" style="width: 90%;">
                <div class="d-flex justify-content-between align-items-center w-100" >
                  <% if photo.liked_by_users.exists?(current_user.id)  %>
                    <%= turbo_frame_tag "photo_#{photo.id}",class:'d-flex flex-row ' do %>
                      <%= link_to delete_like_path(photo_id: photo.id),class:'me-3',data: {turbo_method: :delete} do%>
                        <i class="fa-solid fa-heart"></i>
                      <% end %>
                      <p style="margin-bottom: 0;"><%= photo.liked_by_users.size%></p>
                    <%end %>
                  <%else %>
                    <%= turbo_frame_tag "photo_#{photo.id}",class:'d-flex flex-row ' do %>
                      <%= link_to create_like_path(photo_id: photo.id),class:'me-3',data: {turbo_method: :post} do%>
                        <i class="fa-regular fa-heart"></i>
                      <% end %>
                      <p style="margin-bottom: 0;"><%= photo.liked_by_users.size%></p>
                    <%end %>
                  <%end %>
                  <p class="card-text"><small class="text-body-secondary"><%= photo.created_at.strftime("%I:%M %p %m/%d/%Y") %></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<% if @pagy.next.present? %>

  <%= turbo_stream.replace "pagination" do %>
    <%= turbo_frame_tag "pagination", src: feeds_photos_user_path(page: @pagy.next, format: :turbo_stream), loading: :lazy %>
  <% end %>
<% end %>