



<div class="col-10 col-md-8 bg-body ">
  <!-- Button to choose photo or album -->
  <div class="d-flex justify-content-center  mt-2">
    <div class="category btn-group col-1 justify-content-center" role="group">
      <%= link_to "Photos", feeds_photos_user_path(current_user), class: ((current_page?(feeds_photos_user_path(current_user)))? "btn btn-outline-primary active" : "btn btn-outline-primary") %>
      <%= link_to "Albums", feeds_albums_user_path(current_user), class: (current_page?(feeds_albums_user_path(current_user)))? "btn btn-outline-primary active" : "btn btn-outline-primary"%>
    </div>
  </div>


  <!-- List items -->
  <div class="list-items row d-flex justify-content-evenly g-5 mt-2" data-controller="feedsAlbum">
    <% @followees.each do |followee|%>
      <% followee.albums.each do |album|%>
        <div class="list-items__item  mb-3 col-lg-6 " style="height: 350px;">
          <div class="card h-100 shadow bg-body-secondary" >
            <div class="row g-2 "  style="height: 100%">
              <div class="col-xl-5 album item__images ">
                  <%album.images.each do |image| %>
                    <%= image_tag image.url, class:'border border-white', style: 'height: 300px;width:200px' %>
                  <%end %>
              </div>
              <div class="col-xl-7 position-relative">
                <div class="card-body ">
                  <div class="card-title d-flex flex-row align-items-center ">
                    <div class="overflow-hidden rounded-circle" style="width: 50px; height:50px;">
                      <% if followee.avatar_url.url.nil? %>
                        <%= image_tag "avatar.jpeg",class:' me-3', style:"width:100%"%>
                      <%else %>
                        <%= image_tag followee.avatar_url.url, class:'me-3', style:"width:100%"%>
                      <%end %>
                    </div>
                    <h5><%= link_to followee.first_name + ' ' + followee.last_name,user_photos_path(followee.id),class:'text-decoration-none'%></h5>
                  </div>
                  <p class="card-text fw-bold" ><%= album.title %></p>
                  <p class="card-text mb-3"><%= album.description %></p>
                  <div class="position-absolute bottom-0 mb-2" style="width: 90%;">
                    <div class="d-flex justify-content-between align-items-center w-100" >
                      <% if album.liked_by_users.exists?(current_user.id)  %>
                        <%= turbo_frame_tag "album_#{album.id}",class:'d-flex flex-row ' do %>
                          <%= link_to delete_like_album_path(album_id: album.id),class:'me-3',data: {turbo_method: :delete} do%>
                            <i class="fa-solid fa-heart"></i>
                          <% end %>
                          <p style="margin-bottom: 0;"><%= album.liked_by_users.size%></p>
                        <%end %>
                      <%else %>
                        <%= turbo_frame_tag "album_#{album.id}",class:'d-flex flex-row ' do %>
                          <%= link_to create_like_album_path(album_id: album.id),class:'me-3',data: {turbo_method: :post} do%>
                            <i class="fa-regular fa-heart"></i>
                          <% end %>
                          <p style="margin-bottom: 0;"><%= album.liked_by_users.size%></p>
                        <%end %>
                      <%end %>
                      <p class="card-text"><small class="text-body-secondary"><%= album.created_at.strftime("%I:%M %p %m/%d/%Y") %></small></p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      <% end %>
    <%end %>


  </div>

  <!-- Pagination -->
  <nav aria-label="" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item active" ><a class="page-link" href="#">1</a></li>
      <li class="page-item " aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

</div>

<div class="col-sm-2 ">

</div>
<!-- Modal => a dialog present when click on a album-->
<div class="feeds-album__modal  modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nam Lorem ipsum dolor sit.</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div id="carouselExample" class="carousel slide" >
          <div class="carousel-inner">
            <!--add image here-->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <p></p>
      </div>

    </div>
  </div>
</div>





