<div class="col-10 col-md-8 bg-body ">

  <!-- Button to choose photo or album -->
  <%= render partial: 'layouts/user_header', locals: {user: @user} %>
  <!-- List items -->
  <div class="follow list-items row row-gap-5 d-flex justify-content-evenly  mt-2 mb-3 ">
    <% @followees.each do |followee| %>
      <div class="follow list-items__item  mb-3 col-md-6 col-xxl-3  d-flex justify-content-center align-items-center   " >
        <div class="follow item__container-user rounded  d-flex justify-content-center align-items-center  shadow bg-body-secondary row" style="width: 250px; height:300px">
          <div class="follow user__avatar border rounded-circle overflow-hidden d-flex justify-content-center" >
            <% if followee.avatar_url.url.nil? %>
              <%= image_tag "https://www.seekpng.com/png/detail/115-1150053_avatar-png-transparent-png-royalty-free-default-user.png", style:"width:100%"%>
            <%else %>
              <%= image_tag followee.avatar_url.url %>
            <%end %>
          </div>
          <h4 class="text-center"><%=link_to followee.first_name + ' ' + followee.last_name, user_photos_path(followee.id), class:'text-decoration-none' %></h4>
          <div class="follow user__follow row">
            <div class="follow user__followers col justify-content-center">
              <h5 class="text-center text-primary"><%= followee.photos.size %></h5>
              <p class="text-center text-primary">PHOTOS</p>
            </div>
            <div class="follow user__followings col">
              <h5 class="text-center text-primary"><%= followee.albums.size %></h5>
              <p class="text-center text-primary">ALBUMS</p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <%if  current_user.id == followee.id%>

            <% elsif current_user.followees.exists?(followee.id) %>
              <%= button_to "Unfollow", delete_follow_path(followee.id),method: :delete, data: { turbo_confirm: "Unfollow this user?"}, class: 'btn btn-outline-warning' %>
            <%else %>
              <%=  button_to "Follow",create_follow_path(followee.id), data: {turbo_method: :post, turbo_confirm: "Follow this user?"}, class: 'btn btn-warning' %>
            <%end %>
          </div>
        </div>
      </div>
    <% end %>




    <!-- Pagination -->
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
  <div class="col-sm-2 ">

  </div>

</div>


