<div class="col-10 col-md-8 bg-body ">
  <div class="d-flex justify-content-between align-items-center  mt-4">
    <h4 class="text-center">Edit Album</h4>
    <%= link_to "Back", :back, class:'btn btn-primary' %>
  </div>
  <hr>

  <!-- Form Edit Album -->
  <%= form_with(model: @edit_album, url:album_path(@edit_album),method: :put, html:{class:'row g-4',id:'form'}) do |form|%>
    <div class="col-md-5 ">
      <%=form.label :title,"Title",class:'form-label fw-bold' %>
      <%=form.text_field :title, class:'form-control', placeholder: @edit_album.title%>
      <div class="col-6 mb-5">
        <%= form.label :sharing_mode,"Sharing_mode",class:'form-label fw-bold' %>
        <%= form.select :sharing_mode, [[:Public,:public1],[:Private,:private1]],{selected: @edit_album.sharing_mode},{class:'form-select'} %>
      </div>
    </div>
    <div class="col-md-6 ">
      <%= form.label :description,"Description", class:'form-label fw-bold' %>
      <%= form.text_area :description,class:'form-control', placeholder: @edit_album.description %>
    </div>
    <div>
      <div class="mb-5" >
        <%= form.file_field :images,multiple: true, class:'form-control  form__input' %>
        <div class="d-flex flex-wrap flex-row" id="album__images" data-controller="previewEditAlbum">
            <%@edit_album.images.each do |image| %>
            <div class="album image__container m-3 border" id="image__container">
              <%= hidden_field :album, :images, multiple: true, value: image.identifier%>
              <%= image_tag image.url, class:'' %>
              <button type="button" class="delete-button">DELETE</button>
            </div>
            <%end %>
          <%= form.label :images, class:'new_album form__label m-3', id:'new_album__label' do%>
            <i class="fa-solid fa-plus fa-2xl "></i>
          <%end %>
        </div>
      </div>

      <div class="col-3 d-flex justify-content-between">
        <%= form.submit "Save",class: 'btn btn-success',data: {turbo_confirm: "Save?"} %>
      </div>
    </div>
  <%end %>
  <%= button_to "Delete", album_path(@edit_album),form: {data: {turbo_confirm: "Are you sure?" }} , method: :delete,class:"btn btn-danger" %>





</div>
<div class="col-sm-2 ">

</div>

