
<div class="col-10 col-md-8 bg-body ">
  <!-- Button to choose photo or album -->
  <%=render partial: 'layouts/user_header', locals: {user: @user} %>
  <div class="d-flex justify-content-end ">
    <%= link_to "Add New Album", new_user_album_path(current_user), class:'btn btn-success'%>
  </div>

  <!-- List items -->
  <div class="list-items row d-flex justify-content-evenly  mt-2 mb-3">
    <% @user.albums.each do |album| %>
      <div class="list-items__item  mb-5 col-md-6 col-lg-3  d-flex justify-content-center align-items-center   " >
        <div class="album item__container-img rounded   d-flex justify-content-center align-items-center  shadow" style="width: 250px; height:190px">
          <%album.images.last(3).each  do |image|%>
            <%= image_tag image.url, class:'album__image border border-white' %>
          <%end %>

          <% if album.sharing_mode === 'private1' %>
            <div class="album container__mode ">
              <i class="fa-solid fa-lock fa-xl"></i>
            </div>
          <%end %>
          <div class="album container__editblock ">
            <h5 class="text-center"><%= album.images.size %> PHOTOS</h5>
          </div>
          <%= link_to "EDIT", edit_album_path(album.id),class:'album container__edit_album rounded text-white text-decoration-none' %>
        </div>
      </div>
    <% end %>

  </div>

  <!-- Pagination -->
  <nav aria-label="" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item active" ><a class="page-link" href="#">1</a></li>
      <li class="page-item " aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
<div class="col-sm-2 ">

</div>




